<div style="margin: 10px">
    <img src='images/wcls_logo.png' alt="WCLS Logo" style="height: 150px; text-align: center; display: block; margin-left: auto; margin-right: auto;"/>
    <footer style="text-align: center; margin: 5px">&copy 2020, Wellesley Chinese Language School, EZ Co. </footer>
</div>
